<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/index.css"/>
    <link rel = "stylesheet" href = "/source.css"/>
    <title>MusicMigrate</title>
</head>
<body>
    <header class="header">
    <div class="header-left-section">
     
      <h2>MusicMigrate</h2>
    </div>
    <div class="header-right-section">
      <p>Home</p>
      <p>Contact</p>
    </div>
  </header>

  <main class = "content">
    <div class = "title">
        <h1>Select Your Source Platform</h1>
        <p>Choose the music streaming platform you want to transfer playlists from. We'll connect to your account and show your available playlists.</p>
    </div>

    <div class = "source-platforms">
         <% cards.forEach((card) => { %>
    <div class="platform">
      <img class="<%= card.class %>" src="<%= card.logo %>" alt="<%= card.name %>">
      <div class = "source-name">
        <p><%= card.name %> </p>
        <img src = "/images/tick.svg"/>
      </div>
      <p>Transfer playlists from <%= card.name %></p>
    </div>
  <% }) %>
    </div>
     <button>Continue →</button>
     <p>Don't see your platform? <a>Request a new integration</a></p>
  </main>
<script src = "/main.js"></script>
</body>
</html>